.App {

  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.map { 
  border: 1px solid black;
  align-self: center;
  justify-self: center;
}

#results-container1, #results-container2 {
  display: inline-block;
  
}
#results-container2 {
  margin-left: 20px;
  margin-top: 20px;
}

.destination {
  text-transform: capitalize;
}
form {
  display: inline-block;
}

.no-data {
  opacity: 0.5;
  font-weight: 400;
}

.invisible {
  display: none;
}